<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
</head>
<body>
    <h1>Carrito de la compra</h1>
    <table class="table">
        <thead>
            <th>Ref.</th>
            <th>Nombre</th>
            <th>Uds.</th>
            <th>P/U</th>
            <th>Subtotal</th>
        </thead>
        <tbody>
            <% for (var i=0; i<productos.length; i++) { %>
                <tr>
                    <td><%= productos[i].ref %></td>
                    <td><%= productos[i].nombre %></td>
                    <td><%= productos[i].precio %></td>
                    <td><%= productos[i].productocarrito.cantidad %></td>
                    <td><%= productos[i].productocarrito.cantidad * productos[i].precio %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                <th><%= total %></th>
            </tr>
        </tfoot>
    </table>

    <div class="row">
        <div class="col-6">
            <a href="/" class="btn btn-secondary">Seguir comprando</a>
        </div>
        <div class="col-6">
            <form action="/checkout" method="post">
                <input type="submit" class="btn btn-primary" value="Finalizar compra">
            </form>
        </div>
    </div>
</body>
</html>